{% extends "base.html" %}

{% block history_cur %}
    class="cur"
{% endblock %}

{% block searchHistory %}
    <form class="r" method="post" action="/history/">
        {% csrf_token %}
        <select id="sel-year" name="year">
            <option>2019</option>
        </select>年
        <select id="sel-month" name="month">
            <option>12</option>
        </select>月
        <select id="sel-date" name="date">
            <option>21</option>
        </select>日
        <input id="btn-query" type="submit" value="查询">
    </form>
{% endblock %}

{% block content %}
    {% for each in result_list %}
        <tr data-fid="{{ each.matchId }}">
            <td rowspan="2" style="background-color:{{ each.match_color }}">
                <a style="color:#fff" target="_blank" href="" title="" id="link135">{{ each.match }}</a>
            </td>
            <td rowspan="2">{{ each.round }}</td>
            <td rowspan="2">{{ each.short_time }}</td>
            <td rowspan="2" class="text_right no_border">
                <a class="team_link" href="" target="_blank">{{ each.hostTeam }}</a>
            </td>
            <td rowspan="2" class="no_border"><span class="red">{{ each.result }}</span></td>
            <td rowspan="2" class="text_left">
                <a class="team_link" href="" target="_blank">{{ each.guestTeam }}</a>
            </td>
            <td class="border_r_c5">{{ each.company }}</td>
            <td>{{ each.immediateUpperStage }}</td>
            <td>{{ each.immediateOpening }}</td>
            <td>{{ each.immediateLowerStage }}</td>
            <td>{{ each.immediateWin }}</td>
            <td>{{ each.immediatePeace }}</td>
            <td>{{ each.immediateLose }}</td>
            <td rowspan="2"><a target="_blank" href="" id="link138">析</a>
                <a target="_blank" href="/history/asia_{{ each.matchId }}" title="" id="link139">亚</a>
                <a target="_blank" href="" id="link140">欧</a></td>
        </tr>
        <tr data-fid="{{ each.matchId }}">
            <td>初盘</td>
            <td>{{ each.startUpperStage }}</td>
            <td>{{ each.startOpening }}</td>
            <td>{{ each.startLowerStage }}</td>
            <td>{{ each.startWin }}</td>
            <td>{{ each.startPeace }}</td>
            <td>{{ each.startLose }}</td>
        </tr>
    {% endfor %}

    <script type="text/javascript">

    </script>

{% endblock %}