<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ team_message.hostTeam }}VS{{ team_message.guestTeam }}-主流欧赔</title>
    <link href="/static/history_global.css" rel="stylesheet"/>
    <link href="/static/global.css" type="text/css" rel="stylesheet">
    <link href="/static/liansai.css" type="text/css" rel="stylesheet">
</head>

<body class="odds">
<div class="odds_header">
    <div class="odds_hd_cont">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
            <tr>
                <td width="290" align="right">
                    <ul class="odds_hd_list">
                        <li><a class="hd_name" href="/history/team_{{ team_message.matchId }}_host" target="_blank">{{ team_message.hostTeam }}</a></li>
                    </ul>
                </td>
                <td width="110"><span class="odds_hd_team">
        	<a href="" target="_blank"><img
                    src="http://odds.500.com/static/soccerdata/images/TeamPic/teamsignnew_3986.png" alt=""
                    width="65" height="65"/></a>        </span></td>
                <td align="center" width="190">
                    <div class="odds_hd_center">
                        <div class="odds_hd_ls" id="odds_hd_ls">
                            <a class="hd_name" target="_blank">{{ team_message.match }}{{ team_message.round }}
                            </a>
                        </div>
                        <p>{{ team_message.match_time }}</p>
                        <p class="odds_hd_bf"><strong>{{ team_message.result }}</strong></p>
                    </div>
                </td>

                <td width="110"><span class="odds_hd_team odds_hd_team2">
        	<a href="http://liansai.500.com/team/7014/" target="_blank"><img
                    src="http://odds.500.com/static/soccerdata/images/TeamPic/teamsignnew_7014.png" alt=""
                    width="65" height="65"/></a>
                <td align="left">
                    <ul class="odds_hd_list">
                        <li><a class="hd_name" href="/history/team_{{ team_message.matchId }}_guest" target="_blank">{{ team_message.guestTeam }}</a></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="odds_nav">
        <ul class="odds_nav_list" id="odds_nav_list">
            <li><a href="/history/analysis_{{ team_message.matchId }}" title="">数据分析</a></li>
            <li  class="cur"><a href="" title="">主流欧赔</a></li>
            <li><a href="/history/asia_{{ team_message.matchId }}" title="">亚盘对比</a></li>
            <li><a href="/history/big_or_small_{{ team_message.matchId }}" title="">大小指数</a></li>
        </ul>
    </div>
</div>

<div class="odds_content odds_yazhi">
    <div class="table_top" id="table_top">
        <div class="odds_t">
            <table width="1000" border="0" cellspacing="0" cellpadding="0" class="pub_table">
                <colgroup>
                    <col width="60">
                    <col width="180">
                    <col width="205">
                    <col width="215">
                    <col width="70">
                    <col width="190">
                </colgroup>
                <tr xls="header" class="odds_t_th">
                    <th class="tb_bdr">筛选</th>
                    <th class="tb_bdr tb_plgs"></th>
                    <th class="tb_bdr" row="3">即时欧赔(即时/初盘)</th>
                    <th class="tb_bdr" row="1">即时概率</th>
                    <th class="tb_bdr" row="3">返还率</th>
                    <th class="tb_bdr" row="1">即时凯利</th>
                    <th>统计</th>
                </tr>
                <tr xls="header">
                    <th class="th_one">-</th>
                    <th class="tb_plgs"><span row="1">赔率公司</span>&nbsp;&nbsp;</th>
                    <th>
                        <table cellspacing="0" cellpadding="0" class="pl_table_data">
                            <tbody>
                            <tr>
                                <td row="1" width="78">胜</td>
                                <td row="1">平</td>
                                <td row="1" width="78">负</td>
                            </tr>
                            </tbody>
                        </table>
                    </th>
                    <th row="1">
                        <table cellspacing="0" cellpadding="0" class="pl_table_data">
                            <tbody>
                            <tr>
                                <td row="1" width="58">胜</td>
                                <td row="1" width="58">平</td>
                                <td row="1" width="58">负</td>
                            </tr>
                            </tbody>
                        </table>
                    </th>
                    <th>
                        <table cellspacing="0" cellpadding="0" class="pl_table_data">
                            <tbody>
                            <tr>
                                <td row="1" width="58">值</td>
                            </tr>
                            </tbody>
                        </table>
                    </th>
                    <th row="1">
                        <table cellspacing="0" cellpadding="0" class="pl_table_data">
                            <tbody>
                            <tr>
                                <td row="1" width="58">胜</td>
                                <td row="1" width="58">平</td>
                                <td row="1" width="58">负</td>
                            </tr>
                            </tbody>
                        </table>
                    </th>
                    <th></th>
                </tr>
            </table>
        </div>
    </div>
    <div class="table_cont" id="table_cont">
        <table width="1000" border="0" cellspacing="0" cellpadding="0" class="pub_table" id="datatb">
            <colgroup>
                <col width="60">
                <col width="180">
                <col width="205">
                <col width="215">
                <col width="70">
                <col width="190">
            </colgroup>
            {% for each in result_list %}
                <tr class="tr1" xls="row" id="293" dt="">
                    <td class="td_one">
                        <p><input id="ck293" type="checkbox" value=""/></p>
                    </td>
                    <td class="tb_plgs" row="1">
                        <p><a title=""><span>{{ each.company }}</span></a></p>
                    </td>
                    <td>
                        <table cellspacing="0" cellpadding="0" class="pl_table_data">
                            <tbody>
                                <tr class="tr_bdb td_show_cp" style="display: table-row;">
                                    {% if each.immediateWin > each.startWin %}
                                        <td width="58" row="1" class="bg-a">{{ each.immediateWin }}</td>
                                    {% elif each.immediateWin == each.startWin %}
                                        <td width="58" row="1">{{ each.immediateWin }}</td>
                                    {% else %}
                                        <td width="58" row="1" class="bg-b">{{ each.immediateWin }}</td>
                                    {% endif %}

                                    {% if each.immediatePeace > each.startPeace %}
                                        <td width="58" row="1" class="bg-a">{{ each.immediatePeace }}</td>
                                    {% elif each.immediatePeace == each.startPeace %}
                                        <td width="58" row="1">{{ each.immediatePeace }}</td>
                                    {% else %}
                                        <td width="58" row="1" class="bg-b">{{ each.immediatePeace }}</td>
                                    {% endif %}

                                    {% if each.immediateLose > each.startLose %}
                                        <td width="58" row="1" class="bg-a">{{ each.immediateLose }}</td>
                                    {% elif each.immediateLose == each.startLose %}
                                        <td width="58" row="1">{{ each.immediateLose }}</td>
                                    {% else %}
                                        <td width="58" row="1" class="bg-b">{{ each.immediateLose }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                  <td row="1" width="33.3%">{{ each.startWin }}</td>
                                  <td row="1" width="33.3%">{{ each.startPeace }}</td>
                                  <td row="1">{{ each.startLose }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table cellspacing="0" cellpadding="0" class="pl_table_data">
                            <tbody>
                                <tr class="tr_bdb td_show_cp" style="display: table-row;">
                                    <td width="58" row="1">{{ each.immediateWinProbability }}%</td>
                                    <td row="1" ref="-0.250">{{ each.immediatePeaceProbability }}%</td>
                                    <td width="58" row="1">{{ each.immediateLoseProbability }}%</td>
                                </tr>
                                <tr>
                                  <td row="1" width="33.3%">{{ each.startWinProbability }}%</td>
                                  <td row="1" width="33.3%">{{ each.startPeaceProbability }}%</td>
                                  <td row="1">{{ each.startLoseProbability }}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <table cellspacing="0" cellpadding="0" class="pl_table_data">
                            <tbody>
                                <tr class="tr_bdb td_show_cp" style="display: table-row;">
                                    <td width="58" row="1" class="">{{ each.immediateReturnRate }}%</td>
                                </tr>
                                <tr>
                                    <td width="58" row="1" class="">{{ each.startReturnRate }}%</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td row="1">
                        <table cellspacing="0" cellpadding="0" class="pl_table_data">
                            <tbody>
                                <tr class="tr_bdb td_show_cp" style="display: table-row;">
                                    <td width="58" row="1">{{ each.immediateWinKelley }}</td>
                                    <td row="1" ref="-0.250">{{ each.immediatePeaceKelley }}</td>
                                    <td width="58" row="1">{{ each.immediateLoseKelley }}</td>
                                </tr>
                                <tr>
                                  <td row="1" width="33.3%">{{ each.startWinKelley }}</td>
                                  <td row="1" width="33.3%">{{ each.startPeaceKelley }}</td>
                                  <td row="1">{{ each.startLoseKelley }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <td>
                        <a href="" target="_blank"
                           rel="nofollow">主</a> <a
                            href="" target="_blank"
                            rel="nofollow">客</a>
                        <a href="" class="red" target="_blank" rel="nofollow">同</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="odds_msg2">
        <li>
            1、赔率：是把对阵双方球队的实力差别按照一定的计算方式，在比赛开始前开出胜、平、负三种结果猜中后获得的奖金数额，这个奖金数额就叫赔率。赔率能准确和客观地反映对阵双方球队的真实实力差距，当双方实力差距较大时，实力较强的一方获胜后的奖金数额很低
            <br>2、即时概率：根据即时欧赔换算出各项的胜、平、负概率，是对各项打出的可能性的度量。计算方法为：返还率除以胜、平、负相应的即时赔率。
            <br>3、返还率：也称赔付率，即比赛的赔付比例，例如0.96的赔付率含义就是赔率公司某场比赛的受注总量的96%用来支付投注者的奖金，剩下的4%为博彩公司的"水钱"。返还率越高说明投注者得到的实惠更多。计算方法为：（各项赔率的倒数之和）的倒数。 通常各个公司的返还率都是不一样的，返还率转换就是将赔率"按照设定的返还率"进行转换。将多家公司的赔率按统一的返还率来进行比较，有助于发现各家对比赛态度的分歧。
            <br>4、凯利指数：反映了各项赔率存在的市场赔付风险，即动态市场与事前确立的返还率之间的赔付差异。某项的凯利指数高于返还率，则表明该项的市场风险很大，难以打出；反之则市场风险小，容易打出。计算方法为：用市场平均的胜、平、负概率来乘以某一家公司的赔率，即为该公司各项赔率的凯利指数。
        </li>
        <div class="odds_msg"> 其中<img alt="" src="//odds.500.com/images/oz_zhu.gif">为主流公司，颜色<span
                class="ying">上升↑</span><span class="ping">下降↓</span>代表水位之升降，点击盘口数据能查看相应变化（<img alt=""
                                                                                               src="//odds.500.com/images/oz_e.gif">为交易所，其指数不计入统计）
        </div>
        <div class="odds_msg"> 提醒：以上资料数据仅供浏览、投注参考之用。并不作为最终投注依据。</div>
    </div>
</div>
</body>
</html>
