{% extends "base.html" %}

{% block zonghe_cur %}
    class="cur"
{% endblock %}

{% block content %}
    <tbody id="main-tbody">
    {% for each in result_list %}
        <tr data-fid="">
            <td rowspan="2" style="background-color:{{ each.match_color }}">
                <a style="color:#fff" target="_blank" href="" title="" id="link135">{{ each.match }}</a></td>
            <td rowspan="2">{{ each.round }}</td>
            <td rowspan="2">{{ each.match_time }}</td>
            <td rowspan="2" class="text_right no_border">
                <a class="team_link" href="" target="_blank" title="" id="link136">{{ each.hostTeam }}</a>
            </td>
            {% if each.result != "VS" %}
                <td rowspan="2" class="no_border" style="color:#f00;">{{ each.result }}</td>
            {% else %}
                <td rowspan="2" class="no_border">{{ each.result }}</td>
            {% endif %}
            <td rowspan="2" class="text_left">
                <a class="team_link" href="" target="_blank" title="" id="link137">{{ each.guestTeam }}</a>
            </td>
            <td class="border_r_c5">{{ each.company }}</td>
            <td >{{ each.immediateUpperStage }}</td>
            <td >{{ each.immediateOpening }}</td>
            <td >{{ each.immediateLowerStage }}</td>
            <td >{{ each.immediateWin }}</td>
            <td >{{ each.immediatePeace }}</td>
            <td >{{ each.immediateLose }}</td>
            <td rowspan="2">
                <a target="_blank" href="" title="" id="link138">析</a>
                <a target="_blank" href="" title="" id="link139">亚</a>
                <a target="_blank" href="" title="" id="link140">欧</a>
            </td>
        </tr>
        <tr data-fid="">
            <td class="border_r_c5">初盘</td>
            <td >{{ each.startUpperStage }}</td>
            <td >{{ each.startOpening }}</td>
            <td >{{ each.startLowerStage }}</td>
            <td >{{ each.startWin }}</td>
            <td >{{ each.startPeace }}</td>
            <td >{{ each.startLose }}</td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}